@model IEnumerable<LawX_Utanganan.Entities.UserType>

@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-**********************" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/user-index.css">
</head>
<body>

<div class="table-container">
     <div class="btn-cta">
        <button onclick="location.href='@Url.Action("Create")'" class="button">Create New</button>
    </div>
    <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <div class="btn-actions">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="button"><i class="fas fa-edit"></i></a>
                        <a asp-action="Details" asp-route-id="@item.Id" class="button"><i class="fas fa-info-circle"></i></a>
                        <a asp-action="Delete" asp-route-id="@item.Id" class="button"><i class="fas fa-trash-alt"></i></a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>
</body>
</html>
